/* CONTATOS */
.title-section{
    color: #2978B5;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

.box-contatos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;

}

.contatos{
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    word-wrap: break-word;
}

.contatos ion-icon{
    color: #2978B5;
    font-size: 40px;
    margin-top: 20px;
    transition: 0.3s;
}

.contatos ion-icon:hover{
    opacity: 0.5;
}

.contatos h3{
    color: #444444;
    font-size: 22px;
}

.contatos p{
    color: #444444;
    font-size: 18px;
    margin-bottom: 20px;
}


/* RESPONSIVE */
@media screen and (max-width: 768px) {

    .contatos {
        width: 40%; 
        margin: 15px; 
    }


    
}


@media screen and (max-width: 480px) {
   
    .contatos {
        width: 90%; 
        margin: 10px; 
    }

    
}