.home-container{
    width: 100%;
    height: auto;
}
/* Sub-menu */
.sub-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
}


/* ICONES */
.icons-home {
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.icons-home li {
    list-style: none;
    display: inline;
    align-items: center;
    margin: 30px;
}

.icons-home li a {
    font-size: 40px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    
}

.icons-home li a:hover {
    opacity: 0.5;
}

#linkedin {
    color: #0B63BD;
}

#github {
    color: #383838;
}

#whatsapp {
    color: #49A71E;
}

/* Sub-menu2 */
.sub-menu2 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 2%;
}


.img {
    width: 440px;
    margin-right: 20%;
    background: none;
}

/* Responsividade */

@media (max-width: 768px) {
    
    
    .img {
        width: 200px;
    }


    .icons-home{
        height: 60px;
    }

    .icons-home li a {
        font-size: 30px;
    }
}

@media (max-width: 576px) {

    .icons-home li a {
        font-size: 35px;
    }
}


