.home-container{
    width: 100%;
    height: auto;
}
/* Sub-menu */
.sub-menu {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}


/* ICONES */
.icons-home {
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1em;
}

.icons-home li {
    list-style: none;
    display: inline;
    align-items: center;
    margin: 30px;
}

.icons-home li a {
    font-size: 40px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    
}

.icons-home li a:hover {
    opacity: 0.5;
}

#linkedin {
    color: #0B63BD;
}

#github {
    color: #383838;
}

#whatsapp {
    color: #49A71E;
}

/* Sub-menu2 */
.sub-menu2 {
    display: flex;
    align-items: flex-start;
    margin-left: 20%;
    flex-direction: column;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 5%;
}

.sub-menu2 h2 {
    font-size: 4em;
    font-weight: bold;
    color: #444444;
    margin-bottom: 0.5em;
    animation: imagem 1s ease
    alternate infinite;
}

@keyframes imagem { 
    to { transform: translateY(30px); 
    } 
}

.sub-menu2 h3 {
    font-size: 2em;
    color: #444444;
}

.sub-menu2 .name-color {
    color: #2978B5;
    font-weight: bold;

}    


/* Responsividade */

@media (max-width: 768px) {

    .sub-menu2 {
        width: 90%;
        display: flex;
        text-align: center;
        margin: auto;
        flex-wrap: wrap;
    }

    .sub-menu2 h2 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .sub-menu2 h3 {
        font-size: 1em;
        margin: auto;
    }

    .icons-home{
        height: 60px;
    }

    .icons-home li a {
        font-size: 30px;
    }
}

@media (max-width: 576px) {



    .sub-menu2 {
        width: 90%;
        display: flex;
        text-align: center;
        margin: auto;
        flex-wrap: wrap;
    }

    .sub-menu2 h2 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .sub-menu2 h3 {
        font-size: 1em;
        margin: auto;
    }

    .icons-home li a {
        font-size: 35px;
    }
}


