/* Sobre mim */
.sobre-container{
    width: 100%;
    height: 50%;
}

.title-section{
    color: #EE4C3D;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.header-sobre{
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 70%; 
}

.foto{
    width: 200px;
    border-radius: 50%;
    border: 2px solid #EE4C3D;
    box-shadow: 3px 3px 3px #EE4C3D;
}

.title-sobre{
    color: #FFF;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.description-sobre{
    color: #FFF;
    width: 80%;
    font-size: 18px;
    line-height: 1.5;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {

    .sobre-container {
        height: auto; 
    }

    .header-sobre {
        width: 90%;
    }

    .foto {
        margin-top: 20px;
        width: 150px; 
    }

    .title-section {
        font-size: 36px; 
        margin: 30px; 
    }

    .description-sobre {
        width: 90%; 
        margin: 30px; 
    }

    
}


@media screen and (max-width: 480px) {

    .header-sobre {
        flex-direction: column; 
        width: 100%;
    }

    .foto {
        width: 120px; 
    }

    .title-section {
        font-size: 30px; 
        margin: 20px; 
    }

    .description-sobre {
        width: 100%; 
        margin: 20px;
    }

}