/* CERTIFICADOS */
.title-section{
    color: #EE4C3D;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

.box-certificados{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.certificado{
    width: 50%;
    border: 2px solid #272727;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.description-certificado{
    width: 90%;
    height: auto;
    border-bottom: 0.5px solid #272727;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.description-certificado ion-icon{
    color: #FF931E;
    margin: 0 10px;
}

.description-certificado h3{
    color: #EE4C3D;
    font-size: 25px;
    margin: 0 30px;
}

.description-certificado p{
    text-align: center;
    justify-content: center;
    color: #FFF;
    font-size: 18px;
    max-width: 100%;
    margin: 10px auto;
    overflow-wrap: break-word;
    box-sizing: border-box;
    line-height: 1.5;
}

/* BTN CERTIFICADO */
.btn-certificado{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    color: #1B1B1B;
    font-size: 20px;
    background-color: #EE4C3D;
    border: 2px solid #1B1B1B;
    transition: 0.4s;
    opacity: 0.8;
    cursor: pointer;
    text-decoration: none;
}


.button:hover{
    background-color: #1B1B1B;
    border: 2px solid #EE4C3D;
    color: #EE4C3D;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .certificado {
        width: 80%; 
    }

    .description-certificado {
        width: 100%; 
    }

    .button {
        width: 50%; 
    }


   
}


@media screen and (max-width: 480px) {
  
    .certificado {
        width: 90%; 
    }

    .button {
        width: 70%; 
    }

    
}

