
/* Habilidades */
.title-section{
    color: #2978B5;
    font-weight: bold;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

.box-habilidades{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.box-habilidades{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habilidades{
    font-size: 50px;
    padding: 10px;
    margin: 0 10px;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
}

.habilidades ion-icon{
    padding: 0 30px;
}

#js{
    color: #E8D44D;
}

#react{
    color: #5ED3F3;
}

#html{
    color: #E96228;
}

#css{
    color: #2DA5D6;
}

.description-habilidades{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

.name-habilidade{
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding:  10px;
}


.name-habilidade p {
    margin: 0;
    font-size: 1.6em;
    padding: 5px;
    border-radius: 3%;
    opacity: 0.7;
    transition: 0.3s;
    background-color: #FFF;
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.1);
}



.text-habilidade{
    color: #444444;
    width: 80%;
    font-size: 18px;
    line-height: 1.5;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;
}

#habilidades-complementares{
    color: #2978B5;
    font-weight: bold;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {


    .description-habilidades {
        width: 90%; 
        padding: 30px; 
    }

    .name-habilidade {
        width: 40%; 
    }

    .text-habilidade {
        margin-bottom: 100px; 
    }

    .habilidades ion-icon{
        padding: 0 10px;
    }


}


@media screen and (max-width: 480px) {


    .description-habilidades {
        width: 100%; 
        padding: 20px; 
    }

    .name-habilidade {
        width: 100%; 
    }

    .text-habilidade {
        margin-bottom: 50px;
    }

    .habilidades ion-icon{
        padding: 0 10px;
    }
}